.profile{
  .card {
    box-shadow: 12px 15px 20px 0px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    .title {
      color: grey;
      font-size: 18px;
    }
    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    button:hover, a:hover {
      opacity: 0.7;
    }
  }
}

.card-contain{
  justify-content: center;
  display: flex;
  align-items: center;
  .card{
    position: relative;
    width: 400px;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #a0a4a752;
    //border-radius: 10px;
    //border: none;
    .card-img{
      text-align: center;
    }
    .camera-icon{
      position: absolute;
      top: 167px;
      left: 256px;

    }
    .anticon-camera{
      svg{
        font-size: 28px;
      }
    }
    .card-title{
      font-size: 35px;
      margin-bottom: 15px;
      text-align: center;
    }
    .card-body{
      .back-profile{
        height: 150px;
      }
      .profile{
        text-align: center;
        margin-top: -125px;
        margin-bottom: 10px;
        .card-img-top{
          width: 250px;
          height: 250px;
        }
      }
    }
    .card-img-top{
      width: 200px;
      height: 200px;
      margin-top: 10px;
      border-radius: 50%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .row-contain{
      margin-bottom: 15px;
      .description{
        display: flex;
        margin: 8px 0;
        .key{
          font-weight: bold;
          width: 130px;
        }
      }
    }
  }
}